.scroll-content{
 background: url('../img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bar-header {
   height: 60px; /*just an example*/
   border-width: 0px;
}

.item-content {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -4px;
    margin-bottom: -4px;
    height: 70px;
}
.no-padding {
    padding: 0px !important;
}
 .fundodegrade {  

            margin-top: -20%; width: 100%; height: 65px;
            position: absolute; 
            background-image: url("../img/fundo.png");  background-size: 100% 100%;
             
 }

 .img_container{
    width:100px;
    height:100px;
    position:relative;
    background:red;
}

.img_container2{
    width:100px;
    height:50px;
    position:relative;
    background:blue;
}

.icon-play-circle{
    position:absolute;
    top:45%;
    left:45%;
    color: white;
}

 
 .mymenu {
  background-color: green !important; 
}

.bar-black{
  background-color: green !important;
}  

/*Set the background to transparent for ion-item*/
.mymenu .item {
  background-color: green;
  border: none;
  border-top: 0px solid;
  border-bottom: 0px solid;
  border-color: #0000cc;
  color: #F0F1F1;  
}

/*Changes the border for the last item*/
.mymenu .item:last-child {
  border-bottom: 1px solid #333333;
}

/*Ion-item adds item-complex and an inner div, .item-content*/
/* this needs to be transparent too, but doesnt need borders*/
.mymenu .item-complex .item-content, .mymenu .item-radio .item-content {
  background-color: green !important;
}