<ion-view view-title='Conheça a CTB'>
    <ion-nav-buttons side="left">
    <button class="button button-balanced button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
      
  </ion-nav-buttons>
  <ion-content scroll="false">
      

<ion-slide-box show-pager="false" ion-slide-tabs >
        

        <ion-slide ion-slide-tab-label="Princípios e Objetivos">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">     

          	<div class="card">
			  <div class="item item-text-wrap">
			    A história reservou ao trabalho um papel central no de-senvolvimento da civilização e do próprio ser humano no seu esforço criador e produtivo. O trabalho é a fonte do valor gerado na economia, a origem da riqueza social. Nas sociedades assentadas na divisão de classes, que emergiram com o surgimento e difusão da propriedade privada, a forçade trabalho tem sido submetida a uma impiedosa exploração pelas classes dominantes. Assim foi no escravismo, fundado na opressão e exploração do escravo; ou no feudalismo, baseado na apropriação do trabalho servil dos camponeses pelos senhores feudais.<br>
            <br>
			Na moderna sociedade capitalista, a exploração da classe trabalhadora ficou mais sofisticada e também atingiu seu auge. Em nenhum outro período da história humana se trabalhou tanto e tão intensamente. Na época da primeira revolução industrial, iniciada em meados do século XVIII na Inglaterra, a jornada de trabalho chegava a mais de 16 horas diárias. O proletariado brasileiro também ingressou no século XX labutando 16 horas de domingo a domingo, sem descanso semanal remunerado e a troco de salários miseráveis.<br>
			<br>
			No Brasil, como em todo o mundo, a classe trabalhadora reagiu ao capitalismo e, através de muita luta, impôs limites à exploração de classes. Conquistou direitos, reduziu a jornada de trabalho, obteve férias, descanso semanal remunerado, 13º salário, aposentadoria e outros benefícios. Os sindica-tos foram criados como um instrumento desta luta (sem aqual hoje não existiriam os direitos sociais), com o desafio e a função de unificar os trabalhadores e trabalhadoras nas batalhas contra a exploração capitalista, pela redução da jornada, por melhores condições de saúde e de trabalho, por maiores salários, pelos direitos humanos, pela democracia, pela igualdade, pela paz, por justiça, por dignidade.<br>
			<br>
			  </div>
			</div>       
            

          </ion-scroll>    
        </ion-slide>

        <ion-slide ion-slide-tab-label="Planos de Luta">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
            
          

          </ion-scroll>    
        </ion-slide>

        <ion-slide ion-slide-tab-label="Estatuto">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
            
          

          </ion-scroll>    
        </ion-slide>

        <ion-slide ion-slide-tab-label="Filiação">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
            
          

          </ion-scroll>    
        </ion-slide>

        <ion-slide ion-slide-tab-label="Direção Nascional">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
            
          

          </ion-scroll>    
        </ion-slide>

 </ion-slide-box>
  
  </ion-content>
</ion-view>
