<ion-view view-title="INFORMAÇÕES DO APP">
   
    <ion-nav-buttons side="right">
        <a href="#/tab/dash" class="button button-icon icon ion-home"></a>
    </ion-nav-buttons> 

  <ion-content> 
   
    <div class="list">      
           <a class="item item-icon-left" href="#">
            <i class="icon ion-compass"></i>
            Versão do Aplicativo<br>
            <h2>2.0</h2>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-code-working"></i>
            Desenvolvido por:<br>
            <h2>NEOLIG Aplicativos</h2>
            m.neolig.com
          </a>
    </div> 

  </ion-content>
</ion-view>
 