<ion-view view-title='Publicações'>
    <ion-nav-buttons side="left">
    <button class="button button-balanced button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
      
  </ion-nav-buttons>
  <ion-content>

	<div class="list"> 
	        <a href="#/tab/account/downloads/6*jornal-olho-critico" class="item  item-icon-right" href="#">
	          Jornal Olho Crítico
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/2*revista-visao-classista" class="item  item-icon-right" href="#">
	          Revista Visão Classista
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/3*revista-mulher-dclasse" class="item  item-icon-right" href="#">
	          Revista Mulher D'Classe
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/7*revista-rebele-se" class="item  item-icon-right" href="#">
	          Revista Rebele-se
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/10*logomarcas" class="item  item-icon-right" href="#">
	          Logomarcas
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/5*camisetas" class="item  item-icon-right" href="#">
	          Camisetas
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/9*cartazes" class="item  item-icon-right" href="#">
	          Cartazes
	          <i class="icon ion-arrow-right-c"></i>
	        </a>

	        <a href="#/tab/account/downloads/18*jornal-do-trabalhador" class="item  item-icon-right" href="#">
	          Jornal do Trabalhador
	          <i class="icon ion-arrow-right-c"></i>
	        </a>
	    </div>
  </ion-content>
</ion-view>
