<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <button class="button button-balanced button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
      <img src="img/logoTopo.png" width="220px" style="margin-left:10px;">
  </ion-nav-buttons>
 
  <ion-content scroll="false"> 
 <ion-slide-box show-pager="false" ion-slide-tabs >
        <ion-slide ion-slide-tab-label="BRASIL">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <div ng-repeat="noticia in noticias" >
              <a href="#/tab/dash/vernoticia/{{noticia.id}}*{{noticia.titulovis}}*{{noticia.catId}}*{{noticia.conteudo}}*{{noticia.imagemvis}}">
                  <img ng-src="http://portalctb.org.br/site/{{noticia.imagem}}" width="100%">
                  
                  <div class="fundodegrade"> 
                    <p style="padding: 6px; width:100%; line-height:18px;">
                      <font color="#fffff" size="3">{{noticia.strNome}} </font> 
                    </p>
                  </div>
            </div>
          </ion-scroll>    
        </ion-slide>

         <ion-slide ion-slide-tab-label="ESTADOS" select="mudanoticias('estados');">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
             <div ng-repeat="noticia in estados" >
              <a href="#/tab/dash/vernoticia/{{noticia.id}}*{{noticia.titulovis}}*{{noticia.catId}}*{{noticia.conteudo}}*{{noticia.imagemvis}}">
                  <img ng-src="http://portalctb.org.br/site/{{noticia.imagem}}" width="100%">
                  
                  <div class="fundodegrade"> 
                    <p style="padding: 6px; width:100%; line-height:18px;">
                      <font color="#fffff" size="3">{{noticia.strNome}} </font> 
                    </p>
                  </div>
            </div>
          </ion-scroll>    
        </ion-slide>


        <ion-slide ion-slide-tab-label="INTERNACIONAL">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
             
          </ion-scroll>    
        </ion-slide> 


        <ion-slide ion-slide-tab-label="CULTURA & MÍDIA">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
             
          </ion-scroll>    
        </ion-slide>  

        <ion-slide ion-slide-tab-label="SECRETARIAS">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
             
            </div>
          </ion-scroll>    
        </ion-slide> 

        <ion-slide ion-slide-tab-label="OPINIÃO">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
            
            </div>
          </ion-scroll>    
        </ion-slide> 

        <ion-slide ion-slide-tab-label="RURAIS">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
            
            </div>
          </ion-scroll>    
        </ion-slide> 

        <ion-slide ion-slide-tab-label="VOZ DO CTB"> 
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 100%">            
             
            </div>
          </ion-scroll>    
        </ion-slide> 
    </ion-slide-box>

    <br><Br><Br>


  </ion-content>
</ion-view>
