<ion-view view-title=''>
  <ion-nav-buttons side="left">
    <button class="button button-balanced button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
      <img src="img/logoTopo.png" width="220px" style="margin-left:10px;">
  </ion-nav-buttons>
 
  <ion-content> 
 
<ion-slide-box show-pager="false" ion-slide-tabs on-slide-changed="mudanoticias($index);">

        <ion-slide ion-slide-tab-label="ÚLTIMAS">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="noticia in noticias" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{noticia.id}}*{{noticia.titulovis}}*{{noticia.catId}}*{{noticia.conteudo}}*{{noticia.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{noticia.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{noticia.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide>
 
 <ion-slide ion-slide-tab-label="ESTADO">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="estado in estados" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{estado.id}}*{{estado.titulovis}}*{{estado.catId}}*{{estado.conteudo}}*{{estado.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{estado.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{estado.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide>

 <ion-slide ion-slide-tab-label="INTERNACIONAL">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="internacional in internacionais" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{internacional.id}}*{{internacional.titulovis}}*{{internacional.catId}}*{{internacional.conteudo}}*{{internacional.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{internacional.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{internacional.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide>


 <ion-slide ion-slide-tab-label="CULTURA & MÍDIA">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="cultura in culturas" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{cultura.id}}*{{cultura.titulovis}}*{{cultura.catId}}*{{cultura.conteudo}}*{{cultura.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{cultura.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{cultura.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide>


 <ion-slide ion-slide-tab-label="SECRETARIAS">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="secretaria in secretarias" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{secretaria.id}}*{{secretaria.titulovis}}*{{secretaria.catId}}*{{secretaria.conteudo}}*{{secretaria.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{secretaria.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{secretaria.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide> 

 <ion-slide ion-slide-tab-label="OPINIÃO">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="opiniao in opinioes" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{opiniao.id}}*{{opiniao.titulovis}}*{{opiniao.catId}}*{{opiniao.conteudo}}*{{opiniao.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{opiniao.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{opiniao.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide> 


 <ion-slide ion-slide-tab-label="RURAIS">
          <ion-scroll zooming="true" direction="y" style="width: 100%; height: 475px;">            
             <ion-refresher
              pulling-text="<font color='#ffffff'><b>Puxe para Atualizar</b></font>"
              on-refresh="doRefresh()">
            </ion-refresher>

            <ion-list>
              <ion-item ng-repeat="rural in rurais" class="item-text-wrap no-padding">
                <a href="#/tab/dash/vernoticia/{{rural.id}}*{{rural.titulovis}}*{{rural.catId}}*{{rural.conteudo}}*{{rural.imagemvis}}">


                  <img ng-src="http://www.ctb.org.br/mobile/thumb.php?src=../site/{{rural.imagem}}&size=200x100" width="100%" height="170px">
              </a> 
                <div class="fundodegrade"> 
                      <p style="margin-top:25px; padding: 6px; width:100%; line-height:18px;">
                        <font color="#fffff" size="3">{{rural.strNome}} </font> 
                      </p>
                </div>
              </ion-item>
            </ion-list> 
          </ion-scroll>    
        </ion-slide>
</ion-slide-box>

 
  </ion-content>
</ion-view>
