 
<ion-view view-title="NOTÍCIAS DO APP">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/dash" class="button button-icon icon ion-home"></a>
    </ion-nav-buttons>

    <div class="tabs-striped tabs-top tabs-icon-left tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-ios-browsers"></i>
        Todas
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Apagar
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-compose"></i>
        Nova Noticia
      </a>
    </div>
  </div>
  <ion-content>
  <Br><Br>
    <div class="list">

        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/email-icon.png">  
          <h2 class="positive">Charlote Adams</h2>
          <p>Back off, man. I'm a scientist.
            <i class="icon positive ion-reply"></i> 
          </p>
          
        </a>  

        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/email-icon.png">  
          <h2 class="positive">Robb Flyn</h2>
          <p>Como esta o trabalho ? ...</p>
          <i class="icon positive ion-reply"></i> 
        </a> 


        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/email-icon.png">  
          <h2 class="positive">Robb Flyn</h2>
          <p>Como esta o trabalho ? ...</p>
          <i class="icon positive ion-reply"></i> 
        </a> 

        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/HiAppHere_com_com.boxer.email.png">  
          <h2 class="positive">Robb Flyn</h2>
          <p>Como esta o trabalho ? ...</p>
          <i class="icon positive ion-checkmark"></i> 
        </a> 

        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/HiAppHere_com_com.boxer.email.png">  
          <h2 class="positive">Robb Flyn</h2>
          <p>Como esta o trabalho ? ...</p>
          <i class="icon positive ion-checkmark"></i> 
        </a> 
  
    </div>



   
  </ion-content>
</ion-view>
  