<ion-view view-title="ÁREA DE TRABALHO">
<ion-nav-buttons side="left">
    <button class="button button-balanced button-icon button-clear ion-navicon" menu-toggle="left">
    </button> 
  </ion-nav-buttons>

 <ion-nav-buttons side="right">
        <a href="#/tab/dash" class="button button-icon icon ion-home"></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mcfly.jpg">
        <h2>Marcony</h2>
        <p>Admin do Site<Br>       
      </div> 
    </div>
    
    <div class="list">
      <a href="#/tab/colunista/perfil" class="item item-icon-left item-icon-right">
        <i class="icon positive ion-levels"></i>
        Editar Perfil
        <i class="icon positive ion-chevron-right"></i>
      </a>

      <a href="#/tab/colunista/mensagens" class="item item-icon-left item-icon-right" href="#">
        <i class="icon positive ion-android-mail"></i>
        Notícias do App
        <span class="badge positive badge-assertive">5</span> 
      </a>

    </div>
    <Br><Br>
  </ion-content>
</ion-view>
 