 
<ion-view view-title="MEU PERFIL">
	 
    <ion-nav-buttons side="right">
        <a href="#/tab/dash" class="button button-icon icon ion-home"></a>
    </ion-nav-buttons>

  <ion-content class="padding">
  <Br>
   <center>
     <div class="item arredondado-perfil ">
        <img src="img/mcfly.jpg" width="180px" style="margin-top: -20px; margin-left: -40px;">  
      </div> 
      <h3>Marcony</h3>
      <p>Admin do Site</p>
      <i class="ion-ios-location"></i> 
    </center>
    <br> 

    <div class="card">
	  <div class="item item-divider">
	    Dados Pessoais
	  </div>
	  <div class="item item-text-wrap">
	    Aqui podes puxar um iframe dos forms
	  </div>
	   
	</div>
  </ion-content>
</ion-view>
 
 