<ion-view view-title="{{chat.strNome}}" >
  <ion-content > 
 <img id="imagem" ng-src="http://portalctb.org.br/site/{{chat.imagem}}" class="full-image">
 

  <div class="item tabs tabs-secondary tabs-icon-left "> 
    <a title="Curta Nosso Link"  class="tab-item balanced"
       onclick="window.plugins.socialsharing.share(document.getElementById('nome').innerHTML, 'CTB Mobile', document.getElementById('imagem').innerHTML, 'http://portalctb.org.br/site')">
      <i class="icon balanced ion-android-share-alt"></i>
      <B>COMPARTILHAR NOTÍCIA</B>
    </a>
     

  </div>


  <div class="item item-text-wrap"> 
    <h2 id ="nome"><b>{{chat.strNome}}</b></h2>
    <p>{{chat.categoria}}</p>
  </div>
 
  <div class="item item-body">  

      <iframe  style="width:100%; overflow:hidden; pointer-events:none;" scrolling="no" height="3000" src="{{frameURL(chat.id)}}"></iframe>
       
  </div>

  
 



   
   

  </ion-content>
</ion-view>
